<div class="jumbotron text-center">
  <h1>Public Peer Review Platform</h1>
  <p class="lead">Hello from the other side </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Chemistry</h3>
    <p>Rock and Roll</p>
  </div>
  <div class="col-md-4">
    <h3>Physics</h3>
    <p>David Bowie</p>
  </div>
  <div class="col-md-4">
    <h3>Economics</h3>
    <p>Peace to the world</p>
  </div>
</div>
